/* Tuomas Polvinen */

body {
    background-image: url(../images/lion.jpg); /* https://pixabay.com/fi/photos/leijona-saalistaja-harja-iso-kissa-3317670/ */
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    background-color: #0DCDFF;
}

.container {
    margin: 30px;
}

footer {
    background-color: #0DCDFF;
    text-align: center;
}

.row {
    border: 1px solid black;
}

/* https://pixabay.com/fi/vectors/suomi-kartta-lippu-eurooppa-maa-881128/  */
#suomi {
    height: 500px;
    width: 200px;
}

#etenee {
    height: 50px;
    width: 100px;
    padding: 50px;
    text-align: center;
}

#tähti {
    border: 1px solid black;
}

#lista {
    background-color: #0C80E8;
    margin: auto;
}

#enn {
    background-color: #4E0DFF;
    margin: auto;
}

#log {
    background-color: #0C0CE8;
    margin: auto;
}

/* pelaajat.html sisällön stylejä */ 

.accordion-button {
    background-color: #0044FF;
}